<div class="page-width">
  <div class="text-center p-4 lg:py-8 max-w-[500px] w-full rounded-[20px] mx-auto border border-solid border-primary-opacity-30 shadow-[0px_5px_8px_0px_rgba(0,_0,_0,_0.25)]">
    <h1 class="text-h3 lg:text-h1 capitalize mb-3 text-primary">Hi, {{ customer.name }}</h1>
    <span class="text-secondary text-sm lg:text-base font-normal italic">Wishing you a wonderful day!</span>
  </div>
  {%- assign pageUrl = content_for_header | split: '"pageurl":"' | last | split: '"' | first | split: '.myshopify.com' | last | replace: '\/', '/' | replace: '%20', ' ' | replace: '\u0026', '&' -%}
  <div class="flex flex-wrap md:justify-between mt-6 lg:mt-17">

    <accordion-toggle class="block w-full lg:max-w-1/5">
      <div class="summary lg:hidden"></div>
      <div class="details lg:block lg:!max-h-full">
        <ul class="flex-col flex gap-6">
          <li>
            <a class="flex items-center gap-5 text-black text-opacity-40 hover:text-primary hover:text-opacity-100 text-base lg:text-xl !leading-none {% if pageUrl contains routes.account_url %}{% unless pageUrl contains '?view=' %} !text-primary !text-opacity-100{% endunless %}{% endif %}" href="{{ routes.account_url }}">{% render 'icon-customer', class: 'w-4.5 h-4.5' %} <span>Account</span></a>
          </li>
          <li>
            <a class="flex items-center gap-5 text-black text-opacity-40 hover:text-primary hover:text-opacity-100 text-base lg:text-xl !leading-none {% if pageUrl contains '?view=orders' %} !text-primary !text-opacity-100{% endif %}" href="{{ routes.account_url }}?view=orders">{% render 'icon-order', class: 'w-4.5 h-4.5' %} <span>Order</span></a>
          </li>
          <li>
            <a class="flex items-center gap-5 text-black text-opacity-40 hover:text-primary hover:text-opacity-100 text-base lg:text-xl !leading-none" href="pages/wishlist">{% render 'icon-wishlist', class: 'w-4.5 h-4.5' %} <span>Wishlist</span></a>
          </li>
          <li>
            <a class="flex items-center gap-5 text-black text-opacity-40 hover:text-primary hover:text-opacity-100 text-base lg:text-xl !leading-none" href="{{ routes.account_logout_url }}">{% render 'icon-logout', class: 'w-4.5 h-4.5' %} <span>Logout</span></a>
          </li>
        </ul>
      </div>
    </accordion-toggle>
    <div class="w-full lg:max-w-4/5">
    page account
    </div>
  </div>
</div>