input:checked ~ .icon-checkmark {
  @apply opacity-100 visible;
}
.sort-by-accordion ul.details {
  @apply opacity-0 invisible;
}
.sort-by-accordion.active ul.details {
  @apply opacity-100 visible;
}
.facet.active {
  @apply !translate-x-0 md:!translate-x-0;
}
#ProductGridContainer.loading:before {
  @apply content-empty fixed w-full h-full block z-20 left-0 top-0 bg-background opacity-50;
}
#ProductGridContainer.loading::after {
  @apply content-empty fixed w-6 h-6 block z-30 border rounded-full border-r-2 border-r-transparent border-solid border-primary left-2/4 top-2/4;
  animation: 0.5s spin linear infinite;
}
.range-slider input[type='range'] {
  @apply appearance-none;
  -webkit-tap-highlight-color: var(--color-secondary);
}
.range-slider .field__input::-moz-range-thumb {
  @apply z-[1] bg-primary;
}
.range-slider input[type='range']::-webkit-slider-thumb {
  @apply relative appearance-none cursor-pointer z-[1] w-8 h-8 bg-background rounded-[50%] border border-solid border-secondary pointer-events-auto outline-0;
}
.range-slider input[type='range']::-moz-range-thumb {
  @apply relative cursor-pointer z-[1] block appearance-none w-8 h-8 text-secondary bg-background box-border rounded-[50%] border border-solid border-secondary pointer-events-auto outline-0;
}
.range-slider input[type='range']::-ms-thumb {
  @apply appearance-none relative cursor-pointer z-[1] w-8 h-8 bg-background rounded-[50%] border border-solid border-secondary outline-0;
}
.range-slider input[type='range']:last-of-type::-moz-range-track {
  @apply appearance-none border-0 bg-none bg-transparent;
}
.range-slider input[type='range']::-moz-focus-outer {
  @apply border-0;
}