.pie {
  position: relative;
  --p: 20;
  --b: 6px;
  --c: #0f0f0f;
  --w: 36px;
  height: 36px;
  width: var(--w);
  aspect-ratio: 1;
  display: inline-grid;
  margin: 0 8px 0 0;
  place-content: center;
  font-size: 25px;
  font-weight: 700;
}
.pie .back-border {
  background: #f2f2f2;
  width: 25px;
  display: block !important;
  height: 25px;
}
.pie .back-border,
.pie svg {
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  overflow: hidden;
  z-index: 2;
  top: 50%;
  position: absolute;
}
.pie:after,
.pie:before {
  content: '';
  position: absolute;
  border-radius: 50%;
}
.pie:after {
  inset: calc(50% - var(--b) / 2);
  background: var(--c);
  transform: rotate(calc(var(--p) * 3.6deg))
    translateY(calc(50% - var(--w) / 2));
}
.pie:before {
  inset: 0;
  background: radial-gradient(farthest-side, var(--c) 98%, #0000) top/var(--b)
      var(--b) no-repeat,
    conic-gradient(var(--c) calc(var(--p) * 1%), #0000 0);
  -webkit-mask: radial-gradient(
    farthest-side,
    #0000 calc(99% - var(--b)),
    #000 calc(100% - var(--b))
  );
  mask: radial-gradient(
    farthest-side,
    #0000 calc(99% - var(--b)),
    #000 calc(100% - var(--b))
  );
  background-color: #d9d9d9;
}
