<cart-notification class="flex justify-between items-center gap-4 opacity-0 invisible transition-all fixed top-11 lg:top-15 right-4 bg-primary p-2 text-secondary z-30 rounded-sm font-montserrat">
  <div class="text-xs">Item added to your cart</div>
  <a href="{{ routes.cart_url }}" title="View cart" class="block text-xs underline underline-offset-2 !text-secondary">View</a>
</cart-notification>