.sub-slider-media .swiper-slide-thumb-active {
  @apply border-primary;
}
input:checked+label:not(.color) {
  @apply bg-primary text-background border-primary shadow-button;
}

input:checked+label.color {
  @apply border-secondary border-4;
}
#customily-options {
  @apply p-0 lg:p-6 lg:pb-0 !mb-6 lg:bg-[#FAFAFA] rounded-circle;
  #cl_optionsapp {
    label {
      @apply mt-0;
    }
    .help-text {
      @apply text-xs text-[#9e9e9e];
    }
    .customily_option {
      @apply pb-6 mb-0;
    }
  }
  .option_name {
    @apply font-heading text-sm mb-2 mt-0 font-medium;
  }
  .customily-download-button {
    @apply uppercase font-semibold font-heading text-xs p-3 mb-2 bg-primary text-background hover:bg-primary hover:text-background transition-all rounded-none;
  }
  .cl_remove-image {
    @apply bg-[#e6e6e6] py-3 px-5 rounded-sm font-heading text-xs hover:bg-primary;
  }
}
.cl-canvas-container .canvas-wrapper {
  @apply !my-0;
}
#customily-preview-button {
  -webkit-text-fill-color: initial !important;
  @apply !w-full !h-15 lg:!h-20 !mb-5 !text-lg lg:!text-2xl !relative !top-0 !left-0 !capitalize !border-4 !border-black !border-opacity-25 !font-heading !text-secondary !bg-background hover:!text-background hover:!bg-primary-opacity-30 hover:!border-primary-opacity-30 !whitespace-nowrap !inline-block !tracking-[0] !transition-all !cursor-pointer !shadow-button !no-underline !rounded-[100px] !font-semibold;
}

.product-form__submit,
.product-form__submit.ld-over-inverse {
  @apply !w-full !z-10 !h-15 lg:!h-20 !absolute !bottom-0 !left-0 !mb-5 !text-lg lg:!text-2xl  !capitalize !border-4 !border-background !font-heading !text-background !bg-primary hover:!text-background hover:!bg-primary-opacity-30 hover:!border-primary-opacity-30 !whitespace-nowrap !inline-block !tracking-[0] !transition-all !cursor-pointer !shadow-button !no-underline !rounded-[100px] !font-semibold;
}

.product-form__submit.ld-over-inverse.sticky-button {
  @apply !rounded-none !fixed !bottom-0 !left-0 !border-0 !mb-0 !border-t lg:!border-4 lg:!mb-4 lg:!absolute lg:!rounded-[100px];
}
.product-form__submit.ld-over-inverse.btn-secondary {
  @apply !w-full !z-10 !h-15 lg:!h-20 !absolute !bottom-0 !left-0 !mb-5 !text-lg lg:!text-2xl !capitalize !border-4 !border-background !font-heading !text-background !bg-primary hover:!text-background hover:!bg-primary-opacity-30 hover:!border-primary-opacity-30 !whitespace-nowrap !inline-block !tracking-[0] !transition-all !cursor-pointer !shadow-button !no-underline !rounded-[100px] !font-semibold;
}
accordion-toggle:not(.active) .icon-text::before {
  @apply opacity-0 invisible;
}
.cl-canvas-container canvas {
  @apply -z-10;
}
.change-resize.active {
  @apply bg-primary text-secondary;
}

.customily-modal-preview-only .main {
  @apply !h-fit relative;
}

.customily-modal-preview-only .main.cl-use-image .customily-close-button {
  @apply absolute !top-[calc(100%_+_20px)] md:!-top-5 md:!-right-5 w-10 h-10 opacity-60 hover:opacity-100;
}

.customily-modal-preview-only .main .cl-preview-image {
  @apply rounded-3xl !max-w-[calc(100%_-_32px)] md:!max-w-full;
}