<div class="page-width">
  <span class="!hidden grid md:grid-cols-1 md:grid-cols-2 md:grid-cols-3 md:grid-cols-4 md:grid-cols-5 lg:grid-cols-1 lg:grid-cols-2 lg:grid-cols-3 lg:grid-cols-4 lg:grid-cols-5"></span>
  {% paginate collections by 12 %}
    <div class="grid gap-4 lg:gap-10 grid-cols-{{ section.settings.col_mb }} md:grid-cols-{{ section.settings.col_tl }} lg:grid-cols-{{ section.settings.col_dt }}">
      {%- for collection in collections -%}
        {%- if collection.all_products_count > 0 -%}
          {% render 'box-card', tag: section.settings.block_heading_tag, radius: section.settings.block_radius, ratio: section.settings.block_ratio, sort: section.settings.block_sort, title: collection.title, image: collection.featured_image, url: collection.url %}
        {%- endif -%}
      {%- endfor -%}
    </div>
  {% endpaginate %}
</div>

{% schema %}
  {
    "name": "Template List Collection",
    "settings": [
      {
        "type": "select",
        "id": "block_heading_tag",
        "label": "Block heading tag",
        "default": "h3",
        "options": [
          {
            "value": "h1",
            "label": "Heading 1"
          },
          {
            "value": "h2",
            "label": "Heading 2"
          },
          {
            "value": "h3",
            "label": "Heading 3"
          },
          {
            "value": "h4",
            "label": "Heading 4"
          },
          {
            "value": "h5",
            "label": "Heading 5"
          }
        ]
      },
      {
        "type": "select",
        "id": "block_ratio",
        "label": "Block ratio",
        "default": "square",
        "options": [
          {
            "value": "square",
            "label": "Square"
          },
          {
            "value": "landscape",
            "label": "Landscape"
          }
        ]
      },
      {
        "type": "range",
        "id": "block_radius",
        "label": "Block radius",
        "min": 0,
        "max": 200,
        "unit": "px",
        "step": 2,
        "default": 20
      },
      {
        "type": "select",
        "id": "block_sort",
        "label": "Block sort",
        "default": "title",
        "options": [
          {
            "value": "title",
            "label": "Title first"
          },
          {
            "value": "image",
            "label": "Image first"
          }
        ]
      },
      {
        "type": "header",
        "content": "Column per row"
      }, 
      {
        "type": "range",
        "id": "col_dt",
        "label": "Column per row desktop",
        "min": 1,
        "max": 5,
        "step": 1,
        "default": 4
      },
      {
        "type": "range",
        "id": "col_tl",
        "label": "Column per row tablet",
        "min": 1,
        "max": 5,
        "step": 1,
        "default": 3
      },
      {
        "type": "range",
        "id": "col_mb",
        "label": "Column per row mobile",
        "min": 1,
        "max": 3,
        "step": 1,
        "default": 2
      }
    ]
  }
{% endschema %}