<div class="page-width">
  <div class="mt-6 grid gap-4 grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
    {% for product in collection.products %} 
      {%- render 'product-card', product: product -%}
    {% endfor %}
  </div>
</div>


{% schema %} { "name": "template-collection", "settings": [ { "type": "number",
"id": "number_of_products_per_page", "default": 6, "label": "Number of products shown per page" } ] } {% endschema %}
