{% assign share_permalink = article.url %}
<div class="share-social-section in">
  <div class="flex items-center gap-3">
    <span class="font-heading text-xs uppercase font-bold">{{ 'blogs.article.share' | t }}:</span>
    <a class="block" href="//www.facebook.com/sharer.php?u={{ shop.url | append: share_permalink }}" target="_blank">
      <svg width="29.67" height="29.67" viewBox="0 0 29.67 29.67" fill="none" xmlns="http://www.w3.org/2000/svg">
      <circle cx="16.0003" cy="15.9993" r="13.3333" fill="#3B5998"/>
      <path fill-rule="evenodd" clip-rule="evenodd" d="M19.5437 11.3046C19.1281 11.2214 18.5669 11.1594 18.2139 11.1594C17.2581 11.1594 17.196 11.5749 17.196 12.2398V13.4234H19.5852L19.377 15.8752H17.196V23.3327H14.2045V15.8752H12.667V13.4234H14.2045V11.9069C14.2045 9.82957 15.1809 8.66602 17.6321 8.66602C18.4838 8.66602 19.1071 8.79068 19.9172 8.95691L19.5437 11.3046Z" fill="white"/>
      </svg>
    </a>
    <a class="block" href="//twitter.com/share?text={{ share_title | url_param_escape }}&amp;url={{ shop.url | append: share_permalink }}" target="_blank">
     <svg width="29.67" height="29.67" viewBox="0 0 29.67 29.67" fill="none" xmlns="http://www.w3.org/2000/svg">
        <circle cx="16.0003" cy="15.9993" r="13.3333" fill="#1DA1F2"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M24 10.8731C23.4118 11.1344 22.7787 11.3104 22.1148 11.3898C22.7926 10.9835 23.3131 10.3403 23.5579 9.57397C22.9243 9.95047 22.2209 10.223 21.4738 10.3707C20.8749 9.73289 20.0211 9.33398 19.0777 9.33398C17.265 9.33398 15.7952 10.8038 15.7952 12.6164C15.7952 12.8735 15.8245 13.1241 15.8805 13.3646C13.1522 13.2281 10.7337 11.921 9.11459 9.93501C8.83194 10.4198 8.67036 10.9835 8.67036 11.585C8.67036 12.7236 9.24898 13.7284 10.1305 14.3171C9.59189 14.3001 9.08633 14.1523 8.64316 13.9065V13.9475C8.64316 15.5384 9.77535 16.8647 11.276 17.1671C11.0009 17.2417 10.7108 17.2823 10.4116 17.2823C10.1999 17.2823 9.994 17.2615 9.79348 17.2231C10.2111 18.527 11.4238 19.4762 12.8599 19.5029C11.7368 20.3829 10.3214 20.9081 8.78341 20.9081C8.51783 20.9081 8.25652 20.8927 8 20.8617C9.4527 21.7929 11.1779 22.3369 13.0317 22.3369C19.0691 22.3369 22.3708 17.335 22.3708 12.9977C22.3708 12.8553 22.3681 12.7135 22.3612 12.5732C23.0033 12.1093 23.56 11.5312 24 10.8731Z" fill="white"/>
      </svg>
    </a>
  </div>
</div>