<div class="absolute top-2.5 right-2.5 rounded-3xl ">
  {%- liquid 
    assign product_created_at = product.created_at | date: '%s'
    assign percent = product.compare_at_price | minus: product.price | times: 100.0 | divided_by: product.compare_at_price | floor
    assign title_lists = false
    for mod_product in settings.best_sellers_collection.products limit: 40
      if product == mod_product
        assign title_lists = true
        break
      endif
    endfor

    assign title_check = false
    for mod_product in settings.new_arrivals_collection.products limit: 40
      if product == mod_product
        assign title_check = true
        break
      endif
    endfor
    if product.available == false
      echo 'products.product.sold_out' | t | prepend: '<span class="badge sold-out">' | append: '</span>'
    elsif title_lists == true
      echo '<span class="text-xxs uppercase flex items-center bg-background rounded-3xl px-2 py-0.5">'
      echo '<span class="text-xxxs md:text-xxs uppercase inline-block !leading-none font-semibold text-hot">'
        echo 'products.product.best_seller' | t 
      echo '</span>'
    echo '</span>'
    elsif title_check == true
      echo '<span class="text-xxs uppercase flex items-center bg-background rounded-3xl px-2 py-0.5">'
        echo'<span class="text-xxxs md:text-xxs uppercase inline-block !leading-none font-semibold text-new">'
        echo 'products.product.new' | t
        echo'</span>'
      echo '</span>'
    elsif product.compare_at_price > product.price and product.available and percent >= 20 and page.template_suffix != 'product'
      echo '<span class="text-xxs uppercase flex items-center bg-background rounded-3xl px-2 py-0.5">'
        echo'<span class="text-xxxs md:text-xxs uppercase inline-block !leading-none font-semibold text-sale">'
        echo percent | prepend: '-' | append: '%' 
        echo'</span>'
      echo '</span>'
    endif
  -%}
</div>