<div class="w-full px-3 py-6">
  <div class="overflow-hidden bg-white border rounded shadow">
    {{ 'product-1' | placeholder_svg_tag: 'w-full h-80 object-cover bg-offBG' }}
    <div class="flex flex-col p-4">
      <span class="text-sm text-gray-400">Vendor</span>
      <span class="my-2 text-lg font-medium text-headerColor uppercase">Placeholder Title</span>
      <span class="text-base-text-copyColor">{{ '9999' | money }}</span>
    </div>
  </div>
</div>